@import url('https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css');
nav{
  display: flex;
  gap:20px;
  background-color: black;
  color:white;
  padding:20px; 
}
nav a{
  color:white;
  text-decoration: none;
}
